# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

# ███████╗████████╗ █████╗ ███╗   ██╗██████╗  █████╗ ██████╗ ██████╗     ██████╗ ██╗   ██╗██╗     ███████╗███████╗
# ██╔════╝╚══██╔══╝██╔══██╗████╗  ██║██╔══██╗██╔══██╗██╔══██╗██╔══██╗    ██╔══██╗██║   ██║██║     ██╔════╝██╔════╝
# ███████╗   ██║   ███████║██╔██╗ ██║██║  ██║███████║██████╔╝██║  ██║    ██████╔╝██║   ██║██║     █████╗  ███████╗
# ╚════██║   ██║   ██╔══██║██║╚██╗██║██║  ██║██╔══██║██╔══██╗██║  ██║    ██╔══██╗██║   ██║██║     ██╔══╝  ╚════██║
# ███████║   ██║   ██║  ██║██║ ╚████║██████╔╝██║  ██║██║  ██║██████╔╝    ██║  ██║╚██████╔╝███████╗███████╗███████║
# ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝╚══════╝

# Reference: https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

indent_style = space
indent_size = 4

end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

max_line_length = 125

# ███████╗ ██████╗ ██████╗ ███╗   ███╗ █████╗ ████████╗████████╗██╗███╗   ██╗ ██████╗     ██████╗ ██╗   ██╗██╗     ███████╗███████╗
# ██╔════╝██╔═══██╗██╔══██╗████╗ ████║██╔══██╗╚══██╔══╝╚══██╔══╝██║████╗  ██║██╔════╝     ██╔══██╗██║   ██║██║     ██╔════╝██╔════╝
# █████╗  ██║   ██║██████╔╝██╔████╔██║███████║   ██║      ██║   ██║██╔██╗ ██║██║  ███╗    ██████╔╝██║   ██║██║     █████╗  ███████╗
# ██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║██╔══██║   ██║      ██║   ██║██║╚██╗██║██║   ██║    ██╔══██╗██║   ██║██║     ██╔══╝  ╚════██║
# ██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║██║  ██║   ██║      ██║   ██║██║ ╚████║╚██████╔╝    ██║  ██║╚██████╔╝███████╗███████╗███████║
# ╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝      ╚═╝   ╚═╝╚═╝  ╚═══╝ ╚═════╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝╚══════╝

# Reference: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/formatting-rules

# usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# namespaces 
dotnet_style_namespace_match_folder = true

# Newline options
# open_brace options excluded: anonymous_methods, anonymous_types, events, lambdas, object_collection_array_initializers
csharp_new_line_before_open_brace = accessors, control_blocks, indexers, local_functions, methods, properties, types
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# Indentation options
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents_when_block = false

# Spacing options
csharp_space_after_cast = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_parentheses = expressions, control_flow_statements
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = true
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = true
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
# This would allow us to tablify declarations,
# but it interferes with other spacing settings. ¯\_(ツ)_/¯
# csharp_space_around_declaration_statements = ignore 
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = true

# Wrap options
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true

# Namespace options
csharp_style_namespace_declarations = file_scoped

# ReSharper properties
resharper_space_within_attribute_brackets = false

# ██████╗  ██████╗ ████████╗███╗   ██╗███████╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗    ██████╗ ██╗   ██╗██╗     ███████╗███████╗
# ██╔══██╗██╔═══██╗╚══██╔══╝████╗  ██║██╔════╝╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝    ██╔══██╗██║   ██║██║     ██╔════╝██╔════╝
# ██║  ██║██║   ██║   ██║   ██╔██╗ ██║█████╗     ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗      ██████╔╝██║   ██║██║     █████╗  ███████╗
# ██║  ██║██║   ██║   ██║   ██║╚██╗██║██╔══╝     ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝      ██╔══██╗██║   ██║██║     ██╔══╝  ╚════██║
# ██████╔╝╚██████╔╝   ██║   ██║ ╚████║███████╗   ██║       ███████║   ██║      ██║   ███████╗███████╗    ██║  ██║╚██████╔╝███████╗███████╗███████║
# ╚═════╝  ╚═════╝    ╚═╝   ╚═╝  ╚═══╝╚══════╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝    ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝╚══════╝
# See: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/

dotnet_analyzer_diagnostic.category-Style.severity = warning
dotnet_diagnostic.JSON002.severity = none

# # ██╗   ██╗███╗   ██╗███╗   ██╗███████╗ ██████╗███████╗███████╗███████╗ █████╗ ██████╗ ██╗   ██╗     ██████╗ ██████╗ ██████╗ ███████╗    ██████╗ ██╗   ██╗██╗     ███████╗███████╗
# # ██║   ██║████╗  ██║████╗  ██║██╔════╝██╔════╝██╔════╝██╔════╝██╔════╝██╔══██╗██╔══██╗╚██╗ ██╔╝    ██╔════╝██╔═══██╗██╔══██╗██╔════╝    ██╔══██╗██║   ██║██║     ██╔════╝██╔════╝
# # ██║   ██║██╔██╗ ██║██╔██╗ ██║█████╗  ██║     █████╗  ███████╗███████╗███████║██████╔╝ ╚████╔╝     ██║     ██║   ██║██║  ██║█████╗      ██████╔╝██║   ██║██║     █████╗  ███████╗
# # ██║   ██║██║╚██╗██║██║╚██╗██║██╔══╝  ██║     ██╔══╝  ╚════██║╚════██║██╔══██║██╔══██╗  ╚██╔╝      ██║     ██║   ██║██║  ██║██╔══╝      ██╔══██╗██║   ██║██║     ██╔══╝  ╚════██║
# # ╚██████╔╝██║ ╚████║██║ ╚████║███████╗╚██████╗███████╗███████║███████║██║  ██║██║  ██║   ██║       ╚██████╗╚██████╔╝██████╔╝███████╗    ██║  ██║╚██████╔╝███████╗███████╗███████║
# #  ╚═════╝ ╚═╝  ╚═══╝╚═╝  ╚═══╝╚══════╝ ╚═════╝╚══════╝╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝        ╚═════╝ ╚═════╝ ╚═════╝ ╚══════╝    ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝╚══════╝


# This rule is way too noisy, example, it requires: _ = stringBuilder.Append( message );
dotnet_diagnostic.IDE0058.severity = silent
csharp_style_unused_value_expression_statement_preference = discard_variable

csharp_style_unused_value_assignment_preference = discard_variable
dotnet_code_quality_unused_parameters = non_public

# # ██╗      █████╗ ███╗   ██╗ ██████╗ ██╗   ██╗ █████╗  ██████╗ ███████╗    ██████╗ ██╗   ██╗██╗     ███████╗███████╗
# # ██║     ██╔══██╗████╗  ██║██╔════╝ ██║   ██║██╔══██╗██╔════╝ ██╔════╝    ██╔══██╗██║   ██║██║     ██╔════╝██╔════╝
# # ██║     ███████║██╔██╗ ██║██║  ███╗██║   ██║███████║██║  ███╗█████╗      ██████╔╝██║   ██║██║     █████╗  ███████╗
# # ██║     ██╔══██║██║╚██╗██║██║   ██║██║   ██║██╔══██║██║   ██║██╔══╝      ██╔══██╗██║   ██║██║     ██╔══╝  ╚════██║
# # ███████╗██║  ██║██║ ╚████║╚██████╔╝╚██████╔╝██║  ██║╚██████╔╝███████╗    ██║  ██║╚██████╔╝███████╗███████╗███████║
# # ╚══════╝╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝ ╚══════╝    ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝╚══════╝

# The primary constructor is a new feature in C# 12 that should not be enofcred (yet)
csharp_style_prefer_primary_constructors = false

# Use of `this` in `this.member`
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_property = false
dotnet_style_qualification_for_method = false
dotnet_style_qualification_for_event = false

# Use of e.g. int vs Int32
dotnet_style_predefined_type_for_locals_parameters_members = true
dotnet_style_predefined_type_for_member_access = true

# modifiers
csharp_preferred_modifier_ = public, private, protected, internal, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async:warning
dotnet_style_require_accessibility_modifiers = for_non_interface_members
dotnet_style_readonly_field = true

# This is a good idea, but should be a suggestion only
dotnet_diagnostic.IDE0062.severity = suggestion
csharp_prefer_static_local_function = true:suggestion

# operators
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity
dotnet_style_parentheses_in_other_operators = never_if_unecessary

# # expressions
dotnet_style_object_initializer = true
csharp_style_inlined_variable_declaration = true
dotnet_style_collection_initializer = true
dotnet_style_prefer_auto_properties = true
dotnet_style_explicit_tuple_names = true
csharp_prefer_simple_default_expression = true
dotnet_style_prefer_inferred_tuple_names = true
dotnet_style_prefer_inferred_anonymous_type_member_names = true
csharp_style_pattern_local_over_anonymous_function = true
csharp_style_deconstructed_variable_declaration = true
dotnet_style_prefer_conditional_expression_over_assignment = true

#This rule can lead to less readable code.
dotnet_diagnostic.IDE0046.severity = silent
dotnet_style_prefer_conditional_expression_over_return = true

dotnet_style_prefer_compound_assignment = true
dotnet_style_prefer_simplified_boolean_expressions = true
csharp_style_implicit_object_creation_when_type_is_apparent = true

# null checking
csharp_style_throw_expression = true
dotnet_style_coalesce_expression = true
dotnet_style_null_propagation = true
dotnet_style_prefer_is_null_check_over_reference_equality_method = true
csharp_style_conditional_delegate_call = true

# var preferences 
# We could potentially make this a warning, however, it is a little overzealous
dotnet_diagnostic.IDE0008.severity = suggestion
csharp_style_var_for_built_in_types = false
csharp_style_var_when_type_is_apparent = false
csharp_style_var_elsewhere = false

# expression bodied members

csharp_style_expression_bodied_constructors = false
dotnet_diagnostic.IDE0021.severity = suggestion

csharp_style_expression_bodied_methods = when_on_single_line
dotnet_diagnostic.IDE0022.severity = suggestion

csharp_style_expression_bodied_operators = when_on_single_line
dotnet_diagnostic.IDE0023.severity = suggestion
dotnet_diagnostic.IDE0024.severity = suggestion

csharp_style_expression_bodied_properties = when_on_single_line
dotnet_diagnostic.IDE0025.severity = suggestion

csharp_style_expression_bodied_indexers = when_on_single_line
dotnet_diagnostic.IDE0026.severity = suggestion

csharp_style_expression_bodied_accessors = when_on_single_line
dotnet_diagnostic.IDE0027.severity = suggestion

csharp_style_expression_bodied_lambdas = true
dotnet_diagnostic.IDE0053.severity = warning

csharp_style_expression_bodied_local_functions = when_on_single_line
dotnet_diagnostic.IDE0061.severity = suggestion

# pattern matching
csharp_style_pattern_matching_over_as_with_null_check = true
csharp_style_pattern_matching_over_is_with_cast_check = true
csharp_style_prefer_switch_expression = true
csharp_style_prefer_pattern_matching = true
csharp_style_prefer_not_pattern = true

# index and range operator preferences
csharp_style_prefer_index_operator = true
csharp_style_prefer_range_operator = true

# code blocks
csharp_prefer_braces = true
csharp_prefer_simple_using_statement = true

# using directives
csharp_using_directive_placement = outside_namespace

# switches
# This would force all switch expressions and statements to acount for all cases
dotnet_diagnostic.IDE0010.severity = silent
dotnet_diagnostic.IDE0072.severity = silent


# file headers
file_header_template = unset

# ███╗   ██╗ █████╗ ███╗   ███╗██╗███╗   ██╗ ██████╗     ██████╗ ██╗   ██╗██╗     ███████╗███████╗
# ████╗  ██║██╔══██╗████╗ ████║██║████╗  ██║██╔════╝     ██╔══██╗██║   ██║██║     ██╔════╝██╔════╝
# ██╔██╗ ██║███████║██╔████╔██║██║██╔██╗ ██║██║  ███╗    ██████╔╝██║   ██║██║     █████╗  ███████╗
# ██║╚██╗██║██╔══██║██║╚██╔╝██║██║██║╚██╗██║██║   ██║    ██╔══██╗██║   ██║██║     ██╔══╝  ╚════██║
# ██║ ╚████║██║  ██║██║ ╚═╝ ██║██║██║ ╚████║╚██████╔╝    ██║  ██║╚██████╔╝███████╗███████╗███████║
# ╚═╝  ╚═══╝╚═╝  ╚═╝╚═╝     ╚═╝╚═╝╚═╝  ╚═══╝ ╚═════╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝╚══════╝
# Reference: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/naming-rules
# Lifted From: https://github.com/dotnet/roslyn/blob/main/.editorconfig

# Non-private static fields are PascalCase
dotnet_naming_rule.non_private_static_fields_should_be_pascal_case.severity = warning
dotnet_naming_rule.non_private_static_fields_should_be_pascal_case.symbols = non_private_static_fields
dotnet_naming_rule.non_private_static_fields_should_be_pascal_case.style = non_private_static_field_style

dotnet_naming_symbols.non_private_static_fields.applicable_kinds = field
dotnet_naming_symbols.non_private_static_fields.applicable_accessibilities = public, protected, internal, protected_internal, private_protected
dotnet_naming_symbols.non_private_static_fields.required_modifiers = static

dotnet_naming_style.non_private_static_field_style.capitalization = pascal_case

# Non-private readonly fields are PascalCase
dotnet_naming_rule.non_private_readonly_fields_should_be_pascal_case.severity = warning
dotnet_naming_rule.non_private_readonly_fields_should_be_pascal_case.symbols = non_private_readonly_fields
dotnet_naming_rule.non_private_readonly_fields_should_be_pascal_case.style = non_private_readonly_field_style

dotnet_naming_symbols.non_private_readonly_fields.applicable_kinds = field
dotnet_naming_symbols.non_private_readonly_fields.applicable_accessibilities = public, protected, internal, protected_internal, private_protected
dotnet_naming_symbols.non_private_readonly_fields.required_modifiers = readonly

dotnet_naming_style.non_private_readonly_field_style.capitalization = pascal_case

# Constants are PascalCase
dotnet_naming_rule.constants_should_be_pascal_case.severity = warning
dotnet_naming_rule.constants_should_be_pascal_case.symbols = constants
dotnet_naming_rule.constants_should_be_pascal_case.style = constant_style

dotnet_naming_symbols.constants.applicable_kinds = field, local
dotnet_naming_symbols.constants.required_modifiers = const

dotnet_naming_style.constant_style.capitalization = pascal_case

# Instance fields are camelCase and start with _
dotnet_naming_rule.instance_fields_should_be_camel_case.severity = warning
dotnet_naming_rule.instance_fields_should_be_camel_case.symbols = instance_fields
dotnet_naming_rule.instance_fields_should_be_camel_case.style = instance_field_style

dotnet_naming_symbols.instance_fields.applicable_kinds = field

dotnet_naming_style.instance_field_style.capitalization = camel_case

# Good to have but too much of a departure from what Data Platform currently use
dotnet_naming_style.instance_field_style.required_prefix = _ 

# Locals and parameters are camelCase
dotnet_naming_rule.locals_should_be_camel_case.severity = warning
dotnet_naming_rule.locals_should_be_camel_case.symbols = locals_and_parameters
dotnet_naming_rule.locals_should_be_camel_case.style = camel_case_style

dotnet_naming_symbols.locals_and_parameters.applicable_kinds = parameter, local

dotnet_naming_style.camel_case_style.capitalization = camel_case

# Local functions are PascalCase
dotnet_naming_rule.local_functions_should_be_pascal_case.severity = warning
dotnet_naming_rule.local_functions_should_be_pascal_case.symbols = local_functions
dotnet_naming_rule.local_functions_should_be_pascal_case.style = local_function_style

dotnet_naming_symbols.local_functions.applicable_kinds = local_function

dotnet_naming_style.local_function_style.capitalization = pascal_case

# By default, name items with PascalCase
dotnet_naming_rule.members_should_be_pascal_case.severity = warning
dotnet_naming_rule.members_should_be_pascal_case.symbols = all_members
dotnet_naming_rule.members_should_be_pascal_case.style = pascal_case_style

dotnet_naming_symbols.all_members.applicable_kinds = *

dotnet_naming_style.pascal_case_style.capitalization = pascal_case

# Logging Placeholders
dotnet_diagnostic.CA1727.severity = warning


